<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"               rel="stylesheet"      integrity="sha384-jcwb+QH8dGm8rhqfXEm2U8j8hIVRl6Iz7Kf4Qt6mYBOz5Ym5ST5APkXoRtjqLWxv" crossorigin="anonymous">
</head>
<body>
    <div class="containter">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">Home Page</h1>
                <hr>
                <small>Your request came from {{.IP}}</small>
            </div>
        </div>
    </div>
</body>
</html>
